<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="fragmentos/global">

<body>
    <div class="container">
        <div layout:fragment="contenido">
            <!-- Contenido -->

            <form role="form" class="needs-validation" method="post" th:object="${solicitudBajaDTO}" th:action="@{/formulario/pagina6}" novalidate>

                <input id="id" type="hidden" th:field="*{id}">
                <input id="idformato" type="hidden" th:field="*{formato.id}">

                <div class="col-sm-12 text-right">
                    <div class="form-group">
                        <br>
                        <br>
                        <input type="button" class="btn btn-secondary" th:value="#{Boton.Atras}" th:onclick="'window.location.href=\''+@{/formulario/pagina{back}/{id}(back=${previous},id=${idFub})}+'\''">
                        <button class="btn btn-primary" type="submit" th:text="#{Boton.Siguiente}"></button>
                    </div>
                </div>

            </form>

            <!-- Contenido -->
        </div>
    </div>
</body>

</html>