<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="fragmentos/global">

<body>
    <div class="container">
        <div layout:fragment="contenido">
            <!-- Contenido -->

			<form role="form" class="needs-validation" method="post"
				 th:action="@{/formulario/pagina2}" novalidate>

                <div class="form-row bd-callout-info bd-callout">
                   
                    <div class="col-sm-1 gray"></div>
                    <div class="col-sm-10 gray">
                        <p th:text="#{Titulo.Seccion1}"></p>
                    </div>
                    <div class="col-sm-1 gray"></div>
                    <div class="col-sm-12 white">
                        <br>
                    </div>
                    
                   <div class="col-sm-4" id="divMunicipioB">
                        <div class="form-group" th:fragment="divMunicipioB">
                            <label for="municipio" th:text="#{Texto.Municipio}"></label>
                            <select onchange="cargarLocalidad(this,'divLocalidadB')" th:field="${formatoUnicoDTO.beneficiario.municipio.id}" class="form-control" id="municipio" required>
                                <option value="" th:text="#{Texto.Select}"></option>
                                <option th:each="municipio : ${municipios}" th:value="${municipio.id}" th:text="${municipio.nombre}"></option>
                            </select>

                            <div class="invalid-feedback">
                                <span th:text="#{Msg.Invalid.Municipio}"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-3" id="divLocalidadB">
                        <div class="form-group" th:fragment="divLocalidadB">
                            <label for="localidad" th:text="#{Texto.Localidad}"></label>
                            <select class="form-control" th:field="${formatoUnicoDTO.beneficiario.localidad.id}" id="localidad" required>
                                <option value="" th:text="#{Texto.Select}"></option>
                                <option th:each="localidad : ${localidades}" th:value="${localidad.id}" th:text="${localidad.nombre}"></option>
                            </select>

                            <div class="invalid-feedback">
                                <span th:text="#{Msg.Invalid.Municipio}"></span>
                            </div>
                        </div>
                    </div>
                    
                    
                
                <div class="col-sm-2"></div>

			</div>
            </form>

            <!-- Contenido -->
        </div>
    </div>

</body>

</html>